*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#d4bcec,#77509e);
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
transition:0.4s;
}

.container{
background:black;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgb(191,160,223);
max-width:600px;
width:100%;
animation:aparecer 0.6s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(-20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1{
text-align:center;
color:#d4bcec;
margin-bottom:10px;
}

.tema{
margin-bottom:20px;
width:100%;
}

.notas-container{
display:flex;
gap:15px;
margin-bottom:25px;
}

.nota-input{
flex:1;
text-align:center;
}

.nota-input h4{
color:#bfa0df;
margin-bottom:10px;
}

.nota-input input{
width:100%;
padding:12px;
font-size:18px;
text-align:center;
border-radius:8px;
border:none;
}

.peso{
font-size:12px;
color:#999;
margin-top:5px;
}

button{
width:100%;
padding:14px;
margin-top:10px;
background:#bfa0df;
color:black;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:translateY(-2px);
}

.resultado{
margin-top:25px;
padding:20px;
background:#f8f9fa;
border-radius:8px;
text-align:center;
display:none;
}

.resultado.show{
display:block;
}

.media{
font-size:36px;
font-weight:bold;
color:#77509e;
}

.status{
margin-top:10px;
font-weight:bold;
}

.aprovado{
color:green;
}

.reprovado{
color:red;
}

.faltando{
margin-top:10px;
font-size:14px;
}

.info{
margin-top:20px;
padding:15px;
background:#dfd2ec;
border-left:4px solid #bfa0df;
border-radius:5px;
font-size:14px;
}

footer{
margin-top:20px;
color:white;
font-size:14px;
}

.dark{
background:#121212;
color:white;
}

.dark .container{
background:#1f1f1f;
}

.dark .resultado{
background:#2c2c2c;
color:white;
}